.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-column {
	-fx-border-color: black;
	-fx-border-width: 2.0px 2.0px 0.0 0.0;
	-fx-font-weight: bold;
	-fx-alignment: center;
}

.table-view .column-header {
	-fx-background-color: rgb(40.0,40.0,40.0);
}

.table-view .corner {
	-fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0.0;
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0.0;
    -fx-padding: 0.0;
    -fx-shape: null;
}